.filter-panel {
  position: fixed;       
  top: 0;               
  left: 0;               
  height: 100%;          
  width: 16rem;         
  background-color: #fff;
  box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25); 
  transform: translateX(-100%); 
  transition: transform 0.9s ease-in-out;
}
.filter-panel.open {
  transform: translateX(0); 
}
